* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --color-light: #fff;
    --color-dark: #29292c;

    --color-background: var(--color-light);
    --color-foreground: var(--color-dark);
}

.darkmode {
    --color-light: #fff;
    --color-dark: #29292c;

    --color-background: var(--color-dark);
    --color-foreground: var(--color-light);
}

.darkmode-toggle {
    align-items: center;
    margin-right: 25px;
}

body, html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVBAR */

nav {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 10px;
}

nav h2 {
    padding: 20px 0 10px 20px;
    text-transform: uppercase;
    font-size: 1.6rem;
    user-select: none;
}

nav ul {
    color: var(--color-foreground);
    display: flex;
    justify-content: row;
    padding-right: 10px;
}

nav ul li {
    list-style: none;
    margin: 20px 20px 10px 10px;
    padding: 5px 10px;
    font-size: 1.6rem;
}

nav ul li a {
    text-decoration: none;
    color:var(--color-foreground);
}

nav ul li:hover {
    background-color: var(--color-foreground);
    color: var(--color-background);
    border-radius: 10px;
    cursor:pointer;
}

nav ul li a:hover {
    color: var(--color-background);

}

/* MAIN */
.container {
    width: 100%;
}

.main {
    display: grid;
    gap: 0;
    grid-template-columns: 60% 40%;
    margin-bottom: 5rem;
}

/* HEADER SECTION */

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.header > h1 {
    color: var(--color-foreground);
    font-size: 4rem;
}

.header > h2 {
    font-size: 2.6rem;
    color: #5F5C6D;
}

.social-links {
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 25%;
    vertical-align: middle;
}

.social-links > * {
    font-size: 1.5rem;
}
.social-links > p {
    padding: auto 0;
}

.social-links > a {
    height: 10px;
    text-decoration: none;
}

.social-links > a > i {
    color: var(--color-foreground);
}

.social-links > a > i:hover {
    color: #5F5C6D;
}

.image-of-a-beautiful-man {
    justify-content: center;
    align-items: center;
}

.image-of-a-beautiful-man > img {
    width: 100%;
    border-radius: 50%;
}

/* ABOUT ME */

.about-me {
    display: flex;
    flex-direction: column;
}

.about-me-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.about-me-details > h2 {
    font-weight: bolder;
    font-size: 2.3rem;
}

.about-me-details > p {
    font-size: 1.4rem;
}

.about-me-details > * {
    padding-bottom: 10px;
}

.about-me-modal {
    background-color: var(--color-foreground);
    color: var(--color-background);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    cursor:pointer;
    user-select: none;
    width: 20%;
}

.about-me-modal:hover {
    background-color: #5F5C6D;
}

.about-me-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-me-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--color-foreground);
    margin: 15px;
    padding: 25px;
    border-radius: 15px;
}

.about-me-box > img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid black;
}

/* PROJECTS */

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.projects > h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin: 30px 0 20px 0;
    display: block;
}

.project:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
}

.project img {
    border: 1px solid black;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin: 0 3rem;
}

.project-details {
    justify-content: center;
}

.project-details > h2 {
    font-size: 2rem;
}

.project-details > p {
    font-size: 1rem;
}

.project-link {
    text-decoration: none;
    display: inline-block;
    background-color:var(--color-foreground);
    color: var(--color-background);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.project-link:hover {
    background-color: #5F5C6D;
    color: var(--color-background);
}

/* CONTACT ME */

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 7rem;
    vertical-align: middle;
    margin-top: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-details > h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contact-details > p {
    font-size: 1.4rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 2rem;
    border-radius: 25px;
}

.contact-form > * {
    padding: 10px 20px;
    margin: 5px 0;
    width: 75%;
    border: 2px solid #9ba19b;
}

.contact-form > input,
.contact-form > textarea {
    border-radius: 5px;
    outline: none;
}

.contact-form > input:focus,
.contact-form > textarea:focus {
    border-bottom: 4px solid #9ba19b;
    border-right: 4px solid #9ba19b;
}

#message {
    text-wrap: pretty;
    resize: none;
}

.contact-form > button {
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.contact-form > button:hover {
    background-color: #5F5C6D;
    cursor: pointer;
    color: var(--color-background);
}

/* SCROLL TOP */
.scroll-top {
    position:fixed;
    bottom: 25px;
    right: 25px;
}

.scroll-top a {
    display: inline-block;
    border: 1px solid var(--color-foreground);
    border-radius: 7px;
    min-height: 50px;
}

.scroll-top a i {
    font-size: 2rem;
    color: var(--color-foreground);
}

.scroll-top a:hover {
    background-color: var(--color-foreground);
}

.scroll-top a i:hover {
    color: var(--color-background);
}

/* RESUME MODAL */
.resume-modal-blur {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-background) center no-repeat cover;
    backdrop-filter: blur(8px);
    z-index: 100;
    display: none;
}
.resume-modal {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 200;
    display: none;
    border-radius: 10px;
}

.resume-content {
    width: 75%;
    height: 80vh;
}

.resume-content embed {
    width: 100%;
    height: 100%;
}
